@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    max-width: 1140px;
    height: 100px;
    background-color: red;
    margin: auto;
}